.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
