.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 0.75rem;
  right: 1rem;
  top: 1rem;
}

.container > svg {
  margin-right: 1rem;
}
