* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-background: #fff;
  --secondary-background: #f8fbfc;
  --inactive: #acafb3;
}

.bold {
  font-weight: bold;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
