.leftPanel {
  background-color: black !important;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightPanel {
  background-color: white !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn > svg {
  margin-right: 1rem;
}
