.tab {
  display: flex;
  color: var(--inactive);
}

.tab svg {
  stroke: var(--inactive);
}

.tab.active {
  color: white;
}

.tab.active svg {
  stroke: white;
}

.leftPanel {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn > svg {
  margin-right: 1rem;
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  position: relative;
}
